__pycache__/**
src/__pycache__/**
src/db/__pycache__/**
src/creds/__pycache__/**
src/errors/__pycache__/**
src/helpers/__pycache__/**
src/linkedin/__pycache__/**
src/linkedin/__pycache__/**
src/invitation/__pycache__/**
src/javascript/__pycache__/**

creds/credentialsFile.ini
src/db/firebaseCreds/serviceAccountKey.json
