__pycache__/**
db/__pycache__/**
creds/__pycache__/**
errors/__pycache__/**
helpers/__pycache__/**
linkedin/__pycache__/**
linkedin/__pycache__/**
invitation/__pycache__/**
javascript/__pycache__/**

credentials/credentialsFile.ini
db/firebaseCreds/serviceAccountKey.json
